.contact-child,
.contact-item {
  position: absolute;
  top: -24px;
  left: -1px;
  background-color: var(--dark-secondary);
  width: 1440px;
  height: 1694px;
}
.contact-item {
  top: 0;
  left: 0;
  background-color: var(--secondary-color);
  height: 54px;
}
.car-logo-icon16 {
  position: absolute;
  top: 0;
  left: 0;
  width: 117.63px;
  height: 32px;
  object-fit: cover;
  cursor: pointer;
}
.car-logo-wrapper5 {
  position: relative;
  width: 117.63px;
  height: 32px;
}
.new-cars7 {
  position: relative;
  font-weight: 600;
}
.akar-iconschevron-down43 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.article-parent5 {
  gap: var(--gap-5xs);
}
.article-parent5,
.bxbxs-user-parent5,
.new-cars-parent5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.new-cars-parent5 {
  gap: var(--gap-53xl);
}
.bxbxs-user-parent5 {
  border-radius: var(--br-10xs);
  padding: var(--padding-5xs) var(--padding-sm);
}
.clarityworld-line-icon7 {
  position: relative;
  width: 18px;
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
}
.clarityworld-line-parent5,
.frame-parent94 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
}
.frame-parent94 {
  gap: var(--gap-5xl);
}
.footer-footer-child5,
.navigation-navbar7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
}
.navigation-navbar7 {
  display: flex;
  flex-direction: row;
  padding: var(--padding-6xs) var(--padding-181xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-53xl);
}
.footer-footer-child5 {
  background-color: var(--secondary-color);
  height: 306px;
}
.about-us7,
.contact9,
.faq8 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.contact9,
.faq8 {
  top: 82px;
}
.faq8 {
  top: 41px;
}
.about-us-parent5 {
  position: relative;
  width: 70px;
  height: 103px;
}
.div17,
.infocarcom7 {
  position: absolute;
  top: 41px;
  left: 0;
  font-weight: 500;
}
.div17 {
  top: 82px;
}
.customer-service7 {
  position: absolute;
  top: 0;
  left: 0;
}
.infocarcom-parent5 {
  position: relative;
  width: 135px;
  height: 99px;
}
.facebook-icon9,
.instagram-icon9,
.youtube-icon9 {
  position: absolute;
  top: 80px;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.instagram-icon9,
.youtube-icon9 {
  left: 48px;
}
.youtube-icon9 {
  left: 96px;
}
.bosnia-and-herzegovina7 {
  margin: 0;
}
.facebook-parent5 {
  position: relative;
  width: 128px;
  height: 104px;
}
.frame-parent95 {
  position: absolute;
  top: 121px;
  left: 205px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-344xl);
}
.banner-atas-child5 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--secondary-color);
  width: 1440px;
  height: 45px;
}
.rights6 {
  position: absolute;
  top: 6px;
  left: calc(50% - 98.5px);
  font-weight: 500;
}
.banner-atas7,
.promo7 {
  position: absolute;
  top: 9px;
  left: 601px;
  width: 239px;
  height: 27px;
}
.banner-atas7 {
  top: 261px;
  left: 0;
  width: 1440px;
  height: 45px;
  text-align: center;
  font-size: var(--font-size-xs);
}
.car-logo-icon17,
.line-icon14,
.line-icon15 {
  position: absolute;
  top: 260px;
  left: 23px;
  width: 1396px;
  height: 1px;
}
.car-logo-icon17,
.line-icon15 {
  top: 84px;
  left: 22px;
}
.car-logo-icon17 {
  top: 24px;
  left: 651px;
  width: 138px;
  height: 37px;
  object-fit: cover;
}
.footer-footer7 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1440px;
  height: 306px;
}
.floating-action-button5,
.frame-child203 {
  position: absolute;
  top: 674px;
  left: 1358px;
  width: 64px;
  height: 64px;
}
.frame-child203 {
  top: 0;
  left: 0;
  width: 1438px;
  height: 768px;
  object-fit: cover;
}
.get-in-touch {
  position: absolute;
  top: 64px;
  left: 124px;
  font-size: var(--font-size-17xl);
}
.frame-child204 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1642px;
  height: 868px;
  object-fit: cover;
}
.rectangle-wrapper2 {
  position: absolute;
  top: 840px;
  left: 0;
  width: 1440px;
  height: 640px;
  overflow: auto;
}
.button-button-primary5 {
  position: absolute;
  top: 656px;
  left: 124px;
  border-radius: var(--br-10xs);
  background-color: var(--primary-color);
  width: 535px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-mini) var(--padding-42xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.phone {
  top: 57px;
  left: 294px;
}
.a,
.email,
.phone {
  position: absolute;
}
.a {
  top: 94px;
  left: 233px;
  font-weight: 600;
  color: var(--primary-accent-color);
  text-decoration: none;
}
.email {
  top: 237px;
  left: 299px;
}
.infoautonationcom {
  position: absolute;
  top: 274px;
  left: 197px;
  font-weight: 600;
  color: var(--primary-accent-color);
}
.address {
  position: absolute;
  top: 402px;
  left: 285px;
  text-align: left;
}
.bosnia-and-herzegovina-container {
  position: absolute;
  top: 439px;
  left: 74px;
  font-size: var(--font-size-sm);
  display: inline-block;
  width: 475px;
}
.email-icon,
.location-on-icon,
.phone-icon {
  position: absolute;
  top: 59px;
  left: 260px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.email-icon,
.location-on-icon {
  top: 239px;
  left: 265px;
}
.location-on-icon {
  top: 404px;
  left: 251px;
}
.frame-child205,
.frame-child206,
.phone-parent {
  position: absolute;
  top: 179px;
  left: 166px;
  border-radius: var(--br-10xs);
  background-color: var(--color-steelblue-100);
  width: 292px;
  height: 2px;
}
.frame-child206,
.phone-parent {
  top: 352px;
}
.phone-parent {
  top: 174px;
  left: 736px;
  background-color: var(--secondary-color);
  width: 623px;
  height: 540px;
  text-align: center;
  font-size: var(--font-size-5xl);
}
.name53 {
  position: relative;
  font-weight: 500;
}
.label53 {
  position: absolute;
  top: 148px;
  left: 124px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.label53,
.label54,
.label55 {
  font-size: var(--font-size-lg);
}
.label54 {
  position: absolute;
  top: 445px;
  left: 124px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.label55 {
  top: 346px;
}
.label55,
.label56,
.text-field15,
.text-field16,
.text-field17,
.textarea5 {
  position: absolute;
  left: 124px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.label56 {
  top: 247px;
  font-size: var(--font-size-lg);
}
.text-field15,
.text-field16,
.text-field17,
.textarea5 {
  top: 175px;
  border-radius: var(--br-10xs);
  background-color: var(--light-secondary);
  width: 535px;
  padding: var(--padding-mini) var(--padding-base);
  box-sizing: border-box;
  color: var(--gray-2);
}
.text-field16,
.text-field17,
.textarea5 {
  top: 274px;
}
.text-field17,
.textarea5 {
  top: 373px;
}
.textarea5 {
  top: 472px;
  height: 150px;
  padding: var(--padding-sm) var(--padding-base);
  font-size: var(--font-size-base);
}
.rectangle-parent87 {
  position: absolute;
  height: 78.54%;
  top: 5.97%;
  bottom: 15.49%;
  left: 0;
  width: 1440px;
  font-size: var(--font-size-mini);
}
.contact8 {
  position: relative;
  background-color: var(--dark-secondary);
  width: 100%;
  height: 1976px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-lato);
}
