.new-car-child {
  height: 91.87%;
  bottom: 8.13%;
  background-color: var(--dark-secondary);
  width: 1440px;
}
.new-car-child,
.results1 {
  position: absolute;
  top: 0;
  left: 0;
}
.model28 {
  flex: 1;
  position: relative;
  font-weight: 600;
}
.akar-iconschevron-down73 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.dropdown-small1,
.list-icon-item {
  position: absolute;
  top: 0;
  border-radius: var(--br-10xs);
  box-sizing: border-box;
}
.dropdown-small1 {
  left: 403px;
  background-color: var(--light-secondary);
  width: 234px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.list-icon-item {
  left: 0;
  background-color: var(--primary-accent-color);
  border: 1px solid var(--primary-accent-color);
  width: 36px;
  height: 36px;
}
.bilist-ul-icon1 {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.grid-icon-item,
.list-icon1 {
  position: absolute;
  top: 0;
  left: 673px;
  width: 36px;
  height: 36px;
}
.grid-icon-item {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-10xs);
  background-color: var(--dark-secondary);
  border: 1px solid var(--primary-accent-color);
  box-sizing: border-box;
}
.grid-icon1,
.results-group {
  position: absolute;
  top: 0;
  left: 725px;
  width: 36px;
  height: 36px;
}
.results-group {
  top: 446px;
  left: 567px;
  width: 761px;
  font-size: var(--font-size-11xl);
  color: var(--gray-3);
}
.header-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--secondary-color);
}
.homepage-search1,
.search-result2 {
  position: absolute;
  top: 101px;
  left: 124px;
  font-weight: 600;
}
.homepage-search1 {
  top: 183px;
  font-size: var(--font-size-lg);
}
.frame-child345,
.header1 {
  position: absolute;
  top: 0;
  left: 0;
}
.header1 {
  width: 1440px;
  height: 250px;
  cursor: pointer;
  font-size: var(--font-size-29xl);
}
.frame-child345 {
  border-radius: var(--br-10xs);
  background-color: var(--dark-secondary);
  border: 1px solid var(--secondary-color);
  box-sizing: border-box;
  width: 36px;
  height: 36px;
}
.akar-iconschevron-down74 {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.frame-child346,
.rectangle-parent120 {
  position: relative;
  width: 36px;
  height: 36px;
}
.frame-child346 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-10xs);
  background-color: var(--primary-accent-color);
}
.div80 {
  position: absolute;
  top: 9px;
  left: 13px;
  font-weight: 600;
}
.frame-child347 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-10xs);
  background-color: var(--dark-secondary);
  border: 1px solid var(--primary-accent-color);
  box-sizing: border-box;
  width: 36px;
  height: 36px;
}
.akar-iconschevron-down75 {
  position: absolute;
  top: 8px;
  right: 44px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.rectangle-parent123 {
  position: relative;
  width: 36px;
  height: 36px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.pagination1 {
  position: absolute;
  top: 1704px;
  left: calc(50% - 77.5px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  font-size: var(--font-size-sm);
}
.ford-icon12,
.tesla-icon12 {
  border-radius: var(--br-10xs);
  width: 299px;
  object-fit: cover;
}
.tesla-icon12 {
  align-self: stretch;
  position: relative;
  max-height: 100%;
}
.ford-icon12 {
  height: 214px;
  display: none;
}
.ford-icon12,
.new4 {
  position: relative;
}
.new-wrapper {
  border-radius: var(--br-10xs);
  background-color: var(--dark-secondary);
  border: 1px solid var(--primary-color);
  display: flex;
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-xs);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-sm);
  color: var(--primary-color);
}
.tesla-model-323 {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 600;
  display: inline-block;
  width: 414px;
}
.b19,
.div82 {
  position: absolute;
  top: -0.5px;
  left: 0;
}
.div82 {
  top: 4.5px;
  left: 100px;
  font-size: var(--font-size-base);
  text-decoration: line-through;
  font-weight: 500;
  color: var(--color-silver);
  display: none;
}
.parent35 {
  position: relative;
  width: 414px;
  height: 29px;
  font-size: var(--font-size-5xl);
  color: var(--primary-color);
}
.florida-usa12 {
  position: absolute;
  top: 1px;
  left: 0;
  font-weight: 600;
}
.florida-usa-wrapper10 {
  position: relative;
  width: 414px;
  height: 20px;
}
.iwwayear-icon16 {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.div83 {
  position: absolute;
  top: 1px;
  left: 24px;
}
.iwwayear-parent14 {
  position: relative;
  width: 60px;
  height: 20px;
}
.electric-parent12,
.parent36,
.rear-wheel-drive-parent11 {
  position: relative;
  width: 143px;
  height: 20px;
}
.electric-parent12,
.parent36 {
  width: 77px;
}
.parent36 {
  width: 33px;
}
.frame-parent177 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-family: var(--font-roboto);
}
.frame-child349 {
  align-self: stretch;
  position: relative;
  border-top: 1px solid var(--gray-1);
  box-sizing: border-box;
  height: 1px;
}
.reviews17 {
  position: absolute;
  top: 3px;
  left: 124px;
}
.star-icon77,
.star-icon81 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.star-icon81 {
  display: none;
}
.rating15 {
  position: absolute;
  top: 0;
  left: 0;
  width: 118px;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.reviews-parent11 {
  position: relative;
  width: 218px;
  height: 24px;
  font-family: var(--font-roboto);
}
.frame-parent176,
.product-card12 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xs);
}
.product-card12 {
  border-radius: var(--br-10xs);
  background-color: var(--dark-secondary);
  border: 2px solid var(--secondary-color);
  box-sizing: border-box;
  width: 761px;
  flex-direction: row;
  padding: var(--padding-base);
  align-items: center;
  gap: var(--gap-base);
}
.product-card-wrapper10 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 761px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}
.featured12 {
  position: absolute;
  top: 55.76px;
  left: 14px;
  transform: rotate(-45.64deg);
  transform-origin: 0 0;
}
.corner-ribbon-child34,
.corner-ribbon-child35 {
  position: absolute;
  top: 0;
  left: 94px;
  width: 16px;
  height: 16px;
}
.corner-ribbon-child35 {
  top: 94px;
  left: 0;
}
.corner-ribbon12,
.product-card-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 110px;
}
.product-card-list {
  width: 761px;
  height: 246px;
}
.ford-icon13,
.tesla-icon13 {
  position: relative;
  border-radius: var(--br-10xs);
  width: 299px;
  object-fit: cover;
}
.tesla-icon13 {
  align-self: stretch;
  max-height: 100%;
  display: none;
}
.ford-icon13 {
  height: 214px;
}
.div85 {
  position: absolute;
  top: 4.5px;
  left: 100px;
  font-size: var(--font-size-base);
  text-decoration: line-through;
  font-weight: 500;
  color: var(--gray-2);
}
.product-card-wrapper11 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 761px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.corner-ribbon14,
.product-card-list1 {
  position: absolute;
  top: 282px;
  left: 0;
  width: 761px;
  height: 246px;
}
.corner-ribbon14 {
  top: 0;
  width: 110px;
  height: 110px;
  display: none;
}
.product-card-list2,
.product-card-list3 {
  position: absolute;
  top: 564px;
  left: 0;
  width: 761px;
  height: 246px;
}
.product-card-list3 {
  top: 846px;
}
.pagination-group,
.product-card-list4,
.product-card-list5 {
  position: absolute;
  top: 1128px;
  left: 0;
  width: 761px;
  height: 246px;
}
.pagination-group,
.product-card-list5 {
  top: 1410px;
}
.pagination-group {
  top: 518px;
  left: 567px;
  height: 1740px;
  overflow: hidden;
  font-size: var(--font-size-base);
}
.footer-footer-child13 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--secondary-color);
  width: 1440px;
  height: 306px;
}
.about-us17,
.contact17,
.faq16 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.contact17,
.faq16 {
  top: 82px;
}
.faq16 {
  top: 41px;
}
.about-us-parent14 {
  position: relative;
  width: 70px;
  height: 103px;
}
.div100,
.infocarcom15 {
  position: absolute;
  top: 41px;
  left: 0;
  font-weight: 500;
}
.div100 {
  top: 82px;
}
.infocarcom-parent13 {
  position: relative;
  width: 135px;
  height: 99px;
}
.facebook-icon17,
.instagram-icon17,
.youtube-icon17 {
  position: absolute;
  top: 80px;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.instagram-icon17,
.youtube-icon17 {
  left: 48px;
}
.youtube-icon17 {
  left: 96px;
}
.bosnia-and-herzegovina16 {
  margin: 0;
}
.facebook-parent13 {
  position: relative;
  width: 128px;
  height: 104px;
}
.frame-parent188 {
  position: absolute;
  top: 121px;
  left: 205px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-344xl);
}
.banner-atas-child13 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--secondary-color);
  width: 1440px;
  height: 45px;
}
.rights13 {
  position: absolute;
  top: 6px;
  left: calc(50% - 92.5px);
  font-weight: 500;
}
.banner-atas15,
.promo15 {
  position: absolute;
  top: 9px;
  left: 601px;
  width: 239px;
  height: 27px;
}
.banner-atas15 {
  top: 261px;
  left: 0;
  width: 1440px;
  height: 45px;
  text-align: center;
  font-size: var(--font-size-xs);
}
.car-logo-icon32,
.line-icon30,
.line-icon31 {
  position: absolute;
  top: 260px;
  left: 23px;
  width: 1396px;
  height: 1px;
}
.car-logo-icon32,
.line-icon31 {
  top: 84px;
  left: 22px;
}
.car-logo-icon32 {
  top: 24px;
  left: 651px;
  width: 138px;
  height: 37px;
  object-fit: cover;
}
.footer-footer15 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1440px;
  height: 306px;
}
.car-logo-icon33 {
  position: absolute;
  top: 0;
  left: 0;
  width: 117.63px;
  height: 32px;
  object-fit: cover;
  cursor: pointer;
}
.car-logo-wrapper13 {
  position: relative;
  width: 117.63px;
  height: 32px;
}
.new-cars15 {
  position: relative;
  font-weight: 600;
}
.akar-iconschevron-down76 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.article-parent13 {
  gap: var(--gap-5xs);
}
.article-parent13,
.bxbxs-user-parent13,
.new-cars-parent13 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.new-cars-parent13 {
  gap: var(--gap-53xl);
}
.bxbxs-user-parent13 {
  border-radius: var(--br-10xs);
  padding: var(--padding-5xs) var(--padding-sm);
}
.clarityworld-line-icon15 {
  position: relative;
  width: 18px;
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
}
.clarityworld-line-parent13,
.frame-parent189,
.navigation-navbar15 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
}
.frame-parent189,
.navigation-navbar15 {
  gap: var(--gap-5xl);
}
.navigation-navbar15 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  padding: var(--padding-6xs) var(--padding-181xl);
  box-sizing: border-box;
  gap: var(--gap-53xl);
}
.akar-iconslocation5 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.search5 {
  flex: 1;
  position: relative;
}
.text-field-with-icon5 {
  position: absolute;
  top: 362px;
  left: 567px;
  border-radius: var(--br-10xs);
  background-color: var(--light-secondary);
  width: 761px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--font-size-lg);
  color: var(--gray-2);
}
.frame-child355 {
  position: absolute;
  top: 47.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 360px;
  height: 1px;
}
.frame-child356 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-10xs);
  width: 359px;
  height: 48px;
}
.filter1 {
  position: absolute;
  top: 12px;
  left: 12px;
  font-weight: 500;
}
.line-parent3 {
  position: relative;
  width: 359px;
  height: 48px;
}
.text-field-with-icon6 {
  border-radius: var(--br-10xs);
  background-color: var(--light-secondary);
  width: 359px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--font-size-lg);
  color: var(--gray-2);
}
.all3 {
  position: relative;
  font-weight: 500;
}
.frame-parent190,
.radio-button-group3 {
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent190 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  gap: var(--gap-29xl);
  font-size: var(--font-size-sm);
}
.radio-button-group3 {
  width: 359px;
  display: none;
  flex-direction: column;
  gap: var(--gap-xs);
  font-size: var(--font-size-base);
  color: var(--gray-3);
}
.frame-child357 {
  position: absolute;
  width: 100.28%;
  top: 47.5px;
  right: -0.14%;
  left: -0.14%;
  border-top: 1px solid var(--gray-3);
  box-sizing: border-box;
  height: 1px;
}
.year2 {
  position: absolute;
  top: 14px;
  left: 16px;
  font-weight: 600;
}
.akar-iconschevron-down78 {
  position: absolute;
  top: 14px;
  right: 16px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.line-parent4 {
  align-self: stretch;
  position: relative;
  height: 48px;
}
.div101 {
  position: absolute;
  top: 4px;
  left: 32px;
  font-weight: 500;
}
.check-box-outline-blank-icon40 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.frame-parent192 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 var(--padding-base);
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xs);
}
.see-more20 {
  position: absolute;
  top: 0;
  left: 16px;
  font-weight: 500;
}
.see-more-frame {
  align-self: stretch;
  position: relative;
  height: 17px;
  color: var(--primary-color);
}
.accordion1,
.frame-parent191,
.text-field-outline4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent191 {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 var(--padding-base);
  gap: var(--gap-3xs);
}
.accordion1,
.text-field-outline4 {
  border-radius: var(--br-10xs);
  background-color: var(--light-secondary);
}
.accordion1 {
  width: 359px;
  flex-direction: column;
  color: var(--gray-3);
}
.text-field-outline4 {
  border: 1px solid var(--gray-3);
  box-sizing: border-box;
  width: 327px;
  flex-direction: row;
  padding: var(--padding-mini) var(--padding-base);
  font-size: var(--font-size-mini);
}
.chevrolet-group {
  position: relative;
  width: 327px;
  height: 24px;
}
.frame-parent193 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xs);
  color: var(--gray-3);
}
.see-more21 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
}
.accordion-with-search1,
.text-field-outline-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-field-outline-group {
  align-self: stretch;
  padding: 0 0 var(--padding-base) var(--padding-base);
  gap: var(--gap-3xs);
  color: var(--gray-2);
}
.accordion-with-search1 {
  border-radius: var(--br-10xs);
  background-color: var(--light-secondary);
  width: 359px;
  gap: var(--gap-base);
  color: var(--gray-3);
}
.dropdown-disabled3 {
  color: var(--gray-1);
}
.dropdown-disabled3,
.dropdown25 {
  border-radius: var(--br-10xs);
  background-color: var(--light-secondary);
  width: 359px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.b25 {
  position: relative;
  font-size: var(--font-size-lg);
  color: var(--primary-color);
}
.price-range-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.range-bottom-label-item {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 36px;
  flex-shrink: 0;
}
.range-bottom-label1,
.text-field-with-icon-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.range-bottom-label1 {
  width: 359px;
  gap: var(--gap-5xs);
}
.text-field-with-icon-group {
  gap: var(--gap-base);
  font-size: var(--font-size-sm);
}
.button-button-primary-outlin4 {
  border-radius: var(--br-10xs);
  border: 1px solid var(--primary-color);
  box-sizing: border-box;
  width: 359px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-mini) var(--padding-42xl);
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--primary-color);
}
.filter-pane1 {
  position: absolute;
  top: 362px;
  left: 112px;
  border-radius: var(--br-10xs);
  background-color: var(--secondary-accent);
  display: flex;
  flex-direction: column;
  padding: var(--padding-base);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--font-size-xl);
}
.floating-action-button13 {
  position: absolute;
  top: 674px;
  left: 1358px;
  width: 64px;
  height: 64px;
}
.new-car {
  position: relative;
  background-color: var(--dark-secondary);
  width: 100%;
  height: 2636px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-lato);
}
